@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;

    &--intro{
        font-size: 4rem;
        display: inline-block;
        font-weight: 700;
        
        @media (max-width: 768px){
            font-size: 3rem;
        }
    }

    &--description{
        font-size: 2rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;

    }

    &--aboutandskillsheading{
        font-size: 2rem;
        display: inline-block;  
        font-weight: 700;
    }

    &--aboutandskillsdescription{
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;

    }
}

.display-3{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;

    &--portfolioheading{
        font-size: 2rem;
        display: inline-block;   
        font-weight: 700;   
    }

    &--portfoliodescription{
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
    }
}

.display-4{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;

    &--contactheading{
        font-size: 2rem;
        display: inline-block;   
        font-weight: 700;   
    }

    &--contactheading2{
        font-size: 2rem;
        display: inline-block;     
    }

    &--contactdescription{
        font-size: 1.5rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
    }
}

.display-5{
    text-transform: capitalize;
    font-family: 'Noto Sans', sans-serif;

    &--footerdescription{
        font-size: 1rem;
        display: inline-block;
        text-transform: none;
    }
}

.display-6{
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: .5rem;
}

.heading-line{
    content: "";
    width: 10rem;
    height: .25rem;
    display: block;
    background-color: $primary;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.gradient{
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary,0.95));
}